/* Colour Scheme */
:root {
  --primary-bg-colour: #121212; /* Deep Space */
  --secondary-bg-colour: #2a2a2a; /* Lightened Gray for better visibility */
  --primary-text-colour: #e8e8e8; /* Ghost White */
  --secondary-text-colour: #c2c2c2; /* Lightened Slate Gray for better readability */
  --accent-colour-1: #007bff; /* Electric Blue */
  --accent-colour-2: #00bfff; /* Vivid Cerulean */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-colour);
  color: var(--primary-text-colour);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: column;
  min-height: 100vh;
  text-align: center;
}

main {
  margin-top: 10px;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header {
  width: 100%;
  padding: 20px 0;
}

a {
  color: var(--accent-colour-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--accent-colour-1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--accent-colour-2);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-links img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.blog-card {
  background-color: var(--secondary-bg-colour);
  color: var(--primary-text-colour);
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
}

.blog-link {
  color: var(--accent-colour-1);
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.blog-date {
  color: var(--secondary-text-colour);
  font-size: 0.9em;
}
